body, html {
  background-color: #333;
  color: #fff;
  max-width: 320px;
  height: 568px;
  margin: 0 auto;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
}

.card {
  background: #444;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
}

.card:hover {
  background: #555;
}
